/** CSS STYLE **/

/************** COLOR-VARS **************/
:root {
  --white-color: #fff;          /** Белый **/
  --white-fade-color: #d7ccc0;  /** Полупрозрачный белый **/
  --light-color: #f5f4f0;       /** Светлый **/
  --main-color: #fe8a02;        /** Основной **/
  --main-dark-color: #42413c;   /** Основной темный **/
  --dark-color: #2a2626;        /** Темный **/
  --dark-fade-color: #908d8b;   /** Полупрозрачный темный **/
  --brown-color: #b09a81;       /** Кориченый **/
  --blue-color: #1085c5;        /** Синий **/
}

/************** FONTS ***************/
@font-face {
  font-family: "Open Sans";
  src: url(src\fonts\OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: "Neucha";
  src: url(src\fonts\Neucha-Regular.ttf);
}

/************** MAIN STYLES ***************/
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Neucha";
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/************** SECTION STYLES ***************/

.section {
  position: relative;
  max-width: 1110px;
  padding: 100px 0;
}

/**** HEADER ****/
#header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 914px;
 
  box-sizing: border-box;
  
  background-color: var(--light-color);
}

#header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.header-img {
  position: absolute;
  top: 55px;
  left: 298px;
  height: 525px;
}

.header-title {
  margin-top: 0;
  margin-bottom: 185px;
  font-weight: 400;
}

.title-orange {
  color: var(--main-color);
}

.header-content-text {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header-text {
  flex-basis: 50%;
  font-size: 16px;
  line-height: 26px;
}

.header-link {
  display: block;
  margin-top: 40px;
  width: 148px;
  height: 49px;
  text-align: center;
  
  background: var(--main-color);
  text-decoration: none;
}

.link-text {
  padding: 12px 24px;
  color: var(--white-color);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video {
  display: flex;
  flex-direction: column;
  height: 914px;
  background-color: rgb(255, 255, 255);
}

.video-title {
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
}

.video-title-description {
  margin-bottom: 30px;
  text-align: center;
}

.video-content {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 1;
}

.rectangle {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 286px;
  background-color: var(--main-dark-color);
}